.stackpane {
    -fx-alignment:top-center;
    -fx-background-color:BLACK;
}

.vbox1 {
    -fx-alignment:center;
    -fx-spacing:80px;
}

.vbox2 {
    -fx-alignment:center;
    -fx-spacing:32px;
}

.title {
    -fx-fill:LIME;
    -fx-font-size:68px;
}

.score-text {
    -fx-font-size:32px;
    -fx-fill:WHITE;
}