* {
    -fx-alignment:center;
}

#container {
    -fx-background:BLACK;
    -fx-padding:0px;
}

#vBox1 {
    -fx-spacing:80px;
}

#vBox2 {
    -fx-spacing:20px;
}

#menuTitle {
    -fx-fill:LIME;
    -fx-font-size:90px;
}

#snakeText {
    -fx-fill:LIME;
    -fx-font-size:48px;
}

#gamePane {
    -fx-background:TEAL;
}

.state-menu {
    visibility: visible;
}

.state-playing {
    visibility: hidden;
}

.play .state-menu {
    visibility: hidden;
}

.play .state-playing {
    visibility: visible;
}